* {
    margin: auto;
    padding: auto;
}
(menu)


body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:none;
border:1px solid #c0c0c0;

}

.menu li{
position:relative;
float:right;
border-right:1px solid #c0c0c0;
right: 20%;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}




(fim-menu)


#Logo{
    width: auto;
    height: auto;
    position: absolute;
    top: 2%;
    left: 50%;
}



  