@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}

* {
    margin: auto;
    padding: auto;
}
(menu)
body {
    margin: 0;
    background-color:  #082767;
}
ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}
nav {
    background-color: #fffafa;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
p {
    color:      #016b3d;
    font-family: arial black;
}
nav,
ul {
    display: flex;
    flex-direction: row;
}
li {
    padding: 0 20px;
}

p {
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
a{
        text-decoration: none;    }
(fim do menu)
#Logo{
    width: auto;
    height: auto;
    position: absolute;
    top: 2%;
    left: 50%;
}
(contato)
h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #66FFFF;
    text-shadow: 5px 5px 5px black;
    position: relative;
}
input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #fffafa#fffafa;
    box-shadow: 5px 0px 9px #1a1a1a;
    background-color: #fffafa;
    color: black;
    font-weight: bold;
}
.enviar {
    background-color: #fffafa;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
form label {
    margin-left: 20px;
    color: #fffafa;
    font-weight: bold;
}

.b01{
    margin-left: 600px;
    font-family: arial;
}

.rodape{
    background-color: #141414;
    width: 1200px;
    height: 50px;
}



